html,
body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.center-container,
.footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
}

.center-container {
    height: 93%;
    text-align: center;
}

.header {
    font-weight: bolder;
}

input, select, option {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    vertical-align:top;
    font-size: 1em;
    text-align: center;
    padding-left: 0.5em;
    border: 1px solid;
    border-color: #DDD;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin: 1em;
    width: 75%;
    height: 2.5em;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    border: 1px solid;
    border-color: #DDD;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    background-color: #F5F5F5;
    margin: 1em;
    width: 30%;
    height: 2.5em;
}

.button:active {
    background-color: #DDD;
    color: black;
}

.footer {
    height: 7%;
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}

:focus {
    outline: none;
}
